@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .recharts-cartesian-grid-horizontal line,
.dark .recharts-cartesian-grid-vertical line {
  stroke: #334155;
}
.dark .recharts-tooltip-wrapper .recharts-default-tooltip {
  background-color: #1e293b !important;
  border-color: #334155 !important;
  color: #f1f5f9 !important;
}
.dark .recharts-text {
  fill: #94a3b8 !important;
}
